POSTGRES_PASSWORD=change-me
PHX_HOST=localhost
POOL_SIZE=5

# Generate with:
#   mix phx.gen.secret
SECRET_KEY_BASE=replace-with-a-long-secret-key-base
OTP_SECRET=replace-with-another-long-secret
ADMIN_PHONE=09399644901

# Set false if you want to run migrations manually:
RUN_MIGRATIONS=true
