<Layouts.app flash={@flash} current_admin_phone={@current_admin_phone}>
  <section id="new-device-type-page" dir="rtl" class="space-y-4">
<.device_type_form form={@form} action={~p"/device_types"} return_to={~p"/device_types"} />
  </section>
</Layouts.app>
