<Layouts.app flash={@flash} current_admin_phone={@current_admin_phone}>
  <section dir="rtl" class="space-y-4">
<.branch_form changeset={@changeset} action={~p"/branches"} return_to={~p"/branches"} />
  </section>
</Layouts.app>
